.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 56px 16px 40px;
}

.main-container .main-container-input {
    width: 100%;
}

.main-container .main-container-input textarea {
    width: 100%;
    min-height: 25vh;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.main-container textarea::placeholder {
    color: var(--primary-color);
}

.main-container .main-container-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-container .main-container-actions .actions-notice {
    display: flex;
    gap: 8px;
    color: var(--secondary-color);
}

.main-container .main-container-actions .actions-notice p {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
}

.main-container .main-container-actions .actions-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-container .main-container-actions .actions-buttons button {
    width: 100%;
    border-radius: 24px;
    padding: 24px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.21rem;
}

.main-container .main-container-actions .actions-buttons .cta {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.main-container .main-container-actions .actions-buttons .ghost {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.main-container .main-container-message {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 32px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px var(--bg-shadow);
    
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    text-align: center;
}

.main-container .main-container-message .subtitle {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.main-container .main-container-message p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}