/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 48px 40px;
    }

    .main-container {
        padding: 116px 48px 80px;
    }

    .main-container .main-container-input textarea {
        min-height: 40vh;
        padding-left: 0px;
        padding-right: 0px;
    }

    .main-container .main-container-actions .actions-buttons {
        flex-direction: row;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    header {
        position: absolute;
        top: 40px;
        left: 40px;
        padding: 0px 40px;
    }

    .main-container {
        width: 90vw;
        padding: 18vh 20vw 8vh;
    }

    .main-container .main-container-input textarea {
        min-height: 55vh;
        padding-left: 0px;
        padding-right: 0px;
    }

    .main-container .main-container-actions .actions-buttons {
        flex-direction: row;
    }

    .main-container .main-container-message {
        position: absolute;
        top: 40px;
        right: 40px;
        bottom: 40px;
        
        width: 25vw;
        justify-content: center;
    }

    .main-container .main-container-message img {
        display: block;
    }
}